{% load static %}

<!DOCTYPE html>
      <head>
      	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      	<title>PROFILE YOUR SCHOOL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %} ">
	<div id="title">


	<script type="text/javascript" src="{% static 'files.js' %}"></script>
<div class="btm_border">
    <div class="h_bg">
    <div class="wrap">
    <div class="header">
        <div class="logo">
            <h1 class="text text-success">Ask The Schools</h1>
        </div>
        <div class="social-icons">
            <ul>
                 <li><a class="facebook" href="#" target="_blank"> </a></li>
                 <li><a class="twitter" href="#" target="_blank"></a></li>
                 <li><a class="googleplus" href="#" target="_blank"></a></li>
                 <li><a class="pinterest" href="#" target="_blank"></a></li>
                 <li><a class="instagram" href="#" target="_blank"></a></li>
                 <li><a class="vimeo" href="#" target="_blank"></a></li>
           </ul>
        </div>
        <div class="clear"></div>
    </div>
<body>
{% block title %}
<h3 class="text-info" align="center">SCHOOL PROFILE FORM</h3>
<br><br><br>
{% endblock %}



{% block content %}

{% endblock %}
</body>
