{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}

   <head>
{% block content %}
      <title>CONTACT US</title>


   <body>

<div class="container">

	<br><br><br>
	<h1 class="text-info" align="center"  > Get In Touch</h1>
		<br>

		<p   align="center"> We Will Definetly Love To  Hear From You </p>

		<br><br><br>

	<div class="row">


		<div class="col-sm-6">
			<div class="col-sm-6">
				<h3 class=" glyphicon glyphicon-map-marker">ADDRESS</h3>

				<p>
					No. 34 Yakubu Gwom Way,<br>
					Jos,<br>
					Plateau State
				</p>
				<br><br>
			</div>

			<div class="col-sm-6">
			<div>
				<h3 class="glyphicon glyphicon-phone-alt"> TEL:</h3>
				<p>+2348035381991,<br>
					+2349082394112

				</p>
			</div>
		</div>
		</div>



		<div class="col-sm-6">
			<div class="page-Header">

			</div>
			<form method="post" action="/Contact/">
				{% csrf_token %}
				{{form.non_field.error}}
				{{form.errors}}
				{{ contactForm | crispy }}


					<a href=""type="button" class="btn btn-success">Send</a>

			<br><br><br><br><br>

			</form>

		</div>
	</div>
</div>
{% endblock %}
</body>
</html>
